@import "banner.css";
@import "reset.css";
@import "introduce.css";
@import "background.css";
@import "content.css";
@import "advertisement.css";

* {
  text-decoration-line: none;
}
:root {
  --main-text-color: rgba(0, 0, 0, 0.7);
  --background-white: rgba(242, 242, 242, 0.8);
  --main-color: rgba(108, 110, 70);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
